/* INITIAL VARIABLES */

// update fonts
$family-sans-serif: "Open Sans", BlinkMacSystemFont, -apple-system, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
$family-heading: "Montserrat";
// update colors

/* DERIVED VARIABLES */
$primary: #B93506;
$info: #2CC5FF;

$text: $black;
$family-primary: $family-sans-serif;
$family-secondary: $family-heading;

/* CUSTOM VARIABLES */
$primary-dark: #7E2317;
$text-secondary: #B2B2B2;

$container-landing-width: 900px;

// $linkedin: #0077b5;
// $linkedin-invert: findColorInvert($linkedin);
// $twitter: #55acee;
// $twitter-invert: findColorInvert($twitter);
// $github: #333;
// $github-invert: findColorInvert($github);

// 5. Add new color variables to the color map.



// $addColors: (
//   "twitter":($twitter, $twitter-invert),
//   "linkedin": ($linkedin, $linkedin-invert),
//   "github": ($github, $github-invert)
// );
// $colors: map-merge($colors, $addColors);
