.has-text-secondary {
  color: $text-secondary;
}

.has-text-weight-heavy {
  font-weight: 800 !important;
}

.has-line-height-1 {
  line-height: $single-line-height;
}

.has-line-height-2 {
  line-height: $body-line-height;
}

// headings

[class^="heading-"],
[class*=" heading-"] {
  font-family: $family-secondary;
}

.heading-1 {
  font-weight: $weight-heavy;
  line-height: $single-line-height;
}

$subheading-size: $size-5;

.subheading-size {
  font-size: $subheading-size;
}

.subheading {
  font-size: $subheading-size;
  font-family: $family-primary;
  font-weight: $weight-semibold;
  line-height: $single-line-height;
}

.block-heading {
  text-align: center;
  padding: 1rem;
  display: block;
  font-weight: $weight-bold;
}

// paragraphs

.text-emphasis {
  font-weight: $weight-semibold;
  font-size: inherit;
  margin-bottom: 1rem;
}
