.has-text-secondary {
  color: $text-secondary;
}

.has-text-weight-heavy {
  font-weight: 800 !important;
}

.has-line-height-1 {
  line-height: $single-line-height;
}

.has-line-height-2 {
  line-height: $body-line-height;
}
