<nav class="navbar" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item" href="<%= root_path %>">
      <%= render 'shared/logo', size: :lg %>
    </a>
  </div>

  <div class="navbar-item">
    <span class="has-text-secondary mr-2">Questions?</span>
    <a class="has-text-dark" href="tel:1-855-483-7862">
      <strong>(855) 483-7862</strong>
    </a>
  </div>
</nav>
