<nav class="navbar" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item" href="https://bulma.io">
      <img src="https://bulma.io/images/bulma-logo.png" width="112" height="28">
    </a>
  </div>

  <div class="navbar-end">
    <div class="navbar-item">
      <span>Questions? </span>
      <a href="tel:1-855-483-7862">(855) 483-7862</a>
    </div>
  </div>

</nav>