<%= render 'shared/banner' %>

<div class="container landing banner-offset">

  <div class="card landing graphic-bg">
    <header>
      <h2 class="px-2 py-4 has-text-centered has-text-weight-bold">
        Sign Up for Our Free Webinar
      </h2>
    </header>

    <div class="card-content">
      <div class="columns">
        <div class="column is-half py-6 pr-5">
          <p class="is-size-5 has-text-weight-semibold has-line-height-1 mb-3">
            Ready to Start Your<br>LSAT Journey?
          </p>
          <h1 class="is-size-2 has-text-weight-heavy has-line-height-1 mb-3">
            Sign Up for LSAT Basics Webinar
          </h1>
          <p class="is-size-5 has-text-weight-semibold has-text-primary-dark">
            Sept 15, 2020
          </p>
        </div>
        <div class="column is-half px-6 py-4">
          <%= render partial: "shared/form/signup", locals: { resource: @user, resource_name: :user, classname: 'landing' } %>
        </div>
      </div>
    </div>
  </div>

</div>
