<%= render "shared/banner/image" %>

<section class="container is-desktop">
  <%= render layout: "shared/banner/card", locals: { class: "flex-center flex-column" } do %>
    <div class="card-content is-half-width flex-column flex-center has-text-centered">
      <%= image_tag 'icon-success.png', class: "image is-96x96" %>
      <h1 class="heading-1 is-size-2 mt-4">
        We'll see you then!
      </h1>
      <p class="subheading-size mt-2">
        Thank you for signing up for the <strong>LSAT Basics Webinar</strong> on <em>Tuesday, Sept 15, 2020</em>
      </p>
    </div>
  <% end %>
</section>

<section class="container is-desktop">
  <div class="flex-column flex-align-center">
    <h5 class="subheading has-text-centered m-heading">
      What Next?
    </h5>
    <div class="actions">
      <a class="button is-info inline minwidth" href="#">
        Try Our Course
      </a>
      <a class="button is-info inline minwidth is-outlined has-text-black" href="<%= root_path %>">
        Return to Homepage
      </a>
    </div>
  </div>
</section>
