<%= render "shared/banner/image" %>

<section class="container is-desktop">
  <%= render layout: "shared/banner/card" do %>
    <header class="card-header">
      Success
    </header>
  <% end %>
</section>

<section class="container landing">

</section>
