$banner-height: 32rem;
$banner-card-height: 28rem;
$banner-card-offset: 18rem;

.banner-image {
  width: 100%;
  height: $banner-height;
  object-fit: cover;
  object-position: center;
}

.banner-card-container {
  position: relative;
  height: auto;
  margin-bottom: 6rem - $banner-card-offset;

  @include breakpoint {
    height: $banner-card-height - $banner-card-offset;
    margin-bottom: 6rem;
  }
}

.banner-card {
  position: relative;
  top: -$banner-card-offset;
  left: 0;
  border-radius: 8px;
  width: 100%;
  height: auto;
  min-height: $banner-card-height;

  @include breakpoint {
    position: absolute;
    top: -$banner-card-offset;
    left: 0;
    height: $banner-card-height;
  }

  .columns {
    .column:not(:first-of-type) {
      border-left: 1px solid $grey-lightest;
    }
  }

  .is-half-width {
    width: $desktop / 2;
    max-width: 100%;
  }

  &.graphic-bg {
    background:
      linear-gradient(transparent, transparent 40%, #{$white} 52%, #{$white}),
      url(graphic-background-element.jpg),
      $white;
    background-size: auto;
    background-position: left top;
    background-repeat: no-repeat;

    @include breakpoint {
      background:
        url(graphic-background-element.jpg),
        $white;
      background-size: contain;
      background-position: left center;
      background-repeat: no-repeat;
    }

    .columns {
      .column:first-of-type {
        padding-left: 30%;

        @include breakpoint {
          padding-left: $desktop * .15 !important;
        }
      }
    }

  }
}
