$banner-height: 32rem;
$banner-card-height: 28rem;
$banner-card-offset: 18rem;

.banner-image {
  width: 100%;
  height: $banner-height;
  object-fit: cover;
  object-position: center;
}

.banner-card-container {
  position: relative;
  height: $banner-card-height - $banner-card-offset;
}

.banner-card {
  position: absolute;
  top: -$banner-card-offset;
  left: 0;
  border-radius: 8px;
  width: 100%;
  height: $banner-card-height;

  .columns {
    .column:not(:first-of-type) {
      border-left: 1px solid $grey-lightest;
    }
  }

  .is-half-width {
    width: $desktop / 2;
    max-width: 100%;
  }

  &.graphic-bg {
    background-image: url(graphic-background-element.jpg);
    background-position: left center;
    background-size: contain;
    background-repeat: no-repeat;

    .columns {
      .column:first-of-type {
        padding-left: $desktop * .15 !important;
      }
    }
  }
}
