.card {
  border-radius: 8px;

  &.landing {
    width: 100%;
    height: 28rem;

    .columns {
      .column:not(:first-of-type) {
        border-left: 1px solid $grey-lightest;
      }
    }
  }

  &.graphic-bg {
    background-image: url(graphic-background-element.jpg);
    background-position: left center;
    background-size: contain;
    background-repeat: no-repeat;

    .columns {
      .column:first-of-type {
        padding-left: $desktop * .15 !important;
      }
    }

  }
}
