form.landing {

  .field {

    .label {
      font-size: .9rem;
      font-weight: normal;
      color: $text-light;
      margin-bottom: 0.2em;
    }

    input.input {
      margin-bottom: .6em;
    }
  }
}

form .form-field-error-message {
  position: absolute;
  bottom: -.8em;
  right: 0;
  color: $danger;
  font-size: .8em;
}
